<html>
  <head>
  </head>
  <body>
    <h1>Book List</h1>
        <ul>
      <%for(var i=0; i<books.length; i++){%>
        <li><%=books[i].title%></li>
      <%}%>
    </ul>
    <p>PS. just use JS inside the &lt;% %&gt;</p>
  </body>
</html>