<html>
  <head>
  </head>
  <body>
    <% if (loggedin) {%>
      <p><a href="/auth/logout">Log out</a></p>
    <% } %>
    <p>Sign Up! or <a href="/auth/signin">Sign in here</a></p>
    <form action="/auth/signUp" name="signUp" method="POST">
      UserName: <input name="username" id="username" /><br>
      Password: <input name="password" id="password" /><br>
      <input type="submit" value="Sign up">
    </form>

    <h1>EJL: <%=moretitle%></h1>
    <p>Logged in user: <%=loggedin%></p>
    <p>We just use JS inside the &lt;% %&gt;</p>
    <ul>
      <%for(var i=0; i<list.length; i++){%>
        <li><%=list[i].item%></li>
      <%}%>
    </ul>
  </body>
</html>