<html>
  <head>
  </head>
  <body>
    <h1>EJL: <%=moretitle%></h1>
    <p>We just use JS inside the &lt;% %&gt;</p>
    <ul>
      <%for(var i=0; i<list.length; i++){%>
        <li><%=list[i].item%></li>
      <%}%>
    </ul>
  </body>
</html>