<html>
  <head> </head>
  <body>
    <h1 style="padding: 20px 50px;"> Sign In</h1>
    <div style="padding: 50px;">
      <form action="/auth/signin" name="signInForm" method="POST">
        UserName: <input name="username" id="username" /><br />
        Password: <input name="password" id="password" /><br />
        <input type="submit" value="Sign in" />
      </form>
    </div>
  </body>
</html>
